<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="shortcut icon" href="img/weather-icon.png">  
    <link rel="stylesheet" href="./css/styles.css">
</head>

<body>
    {{>header}}
    <p>{{errorText}}</p>
    {{>footer}}
</body>

</html>