<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="shortcut icon" href="img/weather-icon.png">  
    <link rel="stylesheet" href="./css/styles.css">
    <title>About</title>
</head>

<body>
    <div class="main-content">
        {{>header}}
        <img src="./img/my-img.jpg" alt="my-img" class="portrait">
        <p>This website is built and designed by me. It uses data from darksky.net and openweathermap.org</p>
    </div>
    
    {{>footer}}
</body>

</html>